
/* Style elements that apply to all webpages */


.titl {
  width: calc(100%);
  height: 55px;
  background-color:  #696969;
  text-align: center;
  font-size: calc(200%);
  font-family: 'DM Sans';
  padding: 10px 0px;
}

body {
  margin: 0;
  font-family: 'DM Sans';
  min-width: 1300px;
}

/* Navigation bar */

.bar {
  background-color: #E5DACE;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'DM Sans';
}

li a {
  display: block;
  background-color: #E5DACE;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a.current {
  background-color: #E5DACE;
}

li a.final {
  float: right;
}

li a:hover {
  background-color: #5C5350;
}

/* Standard section styling used across pages */

.boxUnit {
  padding: 80px 10px 60px 10px;
  text-align: center;
  border-style: solid;
  border-color:  #E5DACE;
  border-width: 0px 10px 10px 10px;
}

.boxUnitTitle {
  font-size: 6em;
  line-height: 10px;
  height: 100px;
  text-align: center;
  transition-property: border-color, border-style, border-width;
  transition-duration: 0.3s;
}

.boxUnitTitle:hover {
  border-style: solid;
  border-color: #5C5350;
  border-width: 0px 10px 0px 10px;
}

.figure {
  border-radius: 25px;
  border: 4px solid #696969;
  padding: 20px;
  margin: auto;
  height: auto;
  width: auto;

}

.caption {
  font-size: 1.2em;
}

.standardBodyText {
  font-size: 1.3em;
}


/*  Style elements that apply only to Homepage  */

.stepOrdinal {
  width: 28px; height: 28px;
  display:inline-block;
  text-align: center;
}

.selection {
  background-color:  #696969;
  text-align: center;
  vertical-align: middle;
  height: 180px;
  line-height: 90px;
  font-size: 2em;
}  

.buttonRowHolder {
  text-align: center;
  line-height: 0px;
}

.clusterButton {
  font-size: 16px;
  font-family: 'DM Sans';
  width: 120px; 
  height: 48px;
  background-color: #f2d9f2;
  border: none;
  padding: 5px 10px;
  transition: transform 330ms ease-in-out;
  display: inline-block;
}

.clusterButton:hover {
  transform:scale(1.3,1.3);
}

.legend {
  font-size: 1.3em;
  display:inline-block;
  text-align: left;

}

#legendLabel {
  font-size: 1.3em;
}


/*  Style elements that apply only to About  */


.photos img {
    height: 250px;
    width: 250px;

}

/* Give the photos a corner border */
/* Got this from Arkej, 2017 - */ 
/* https://stackoverflow.com/questions/42832749/create-corner-border-in-css */

.photoBor {
    position: relative;
    margin: 20px;
    width: 250px;
    height: 250px;

}

.photoBor:after {
    border-top: 15px solid #696969;
    border-right: 15px solid #696969;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: 40px;

}

.photoBor:before {
    border-bottom: 15px solid #696969;
    border-left: 15px solid #696969;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    left: 40px;

}

/* Line and Center the Four Profile Pictures */
.photos {
  display: flex;
}

.photos > div {
  flex: 1; /*grow*/
}

